$white-color: #ffffff;
$alice-blue: #f8f9fa;
$white-smoke: #f5f5f5;
$white-smoke2: #f0f0f0;
$black-color: #000000;
$swamp: #1d2829;
$night-rider: #333333;
$baltic-sea: #363c44;
$baltic-sea-bright: #314245;
$pastel-green: #8de969;
$atlantis: #8bc63f;
$la-palma: #429734;
$tangerine-yellow: #fdcb0b;
$golden-tainoi: #ffbf43;
$mango-tango: #d57b04;
$wild-watermelon: #ff595e;
$lavender-blue: #d1d9ff;
$torch-red: #ff262d;
$light-orange: #d47b04;
$light-yellow: #f8d55e;
$blue: #243983;
$light-aqua: #63a6ba;

$viewport--x: 300px;
$viewport--xs: 320px;
$viewport--sm: 360px;
$viewport--smd: 520px;
$viewport--md: 768px;
$viewport--lg: 1024px;
$viewport--xl: 1180px;
$viewport--2xl: 1366px;
$viewport--3xl: 1920px;
